[package]
name = "arrow-udf-js"
version = "0.1.2"
edition = "2021"
description = "JavaScript runtime for Arrow UDFs."
repository = "https://github.com/risingwavelabs/arrow-udf"
keywords = ["arrow", "udf", "javascript"]
license = "Apache-2.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
arrow-array = ">=50"
arrow-buffer = ">=50"
arrow-schema = ">=50"
rquickjs = { version = "0.5", features = ["array-buffer", "parallel"] }

[dev-dependencies]
arrow-cast = { version = ">=50", features = ["prettyprint"] }
expect-test = "1"
