[package]
name = "arrow-udf-wasm"
version = "0.1.4"
edition = "2021"
description = "WebAssembly runtime for Arrow UDFs."
repository = "https://github.com/risingwavelabs/arrow-udf"
keywords = ["arrow", "udf", "wasm"]
categories = ["wasm"]
license = "Apache-2.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
build = ["tempfile"]

[dependencies]
anyhow = "1"
arrow-array = "50"
arrow-ipc = "50"
arrow-schema = "50"
base64 = "0.21"
genawaiter = "0.99"
lazy_static = "1"
tempfile = { version = "3", optional = true }
wasmtime = "17"
wasmtime-wasi = "17"

[dev-dependencies]
arrow-arith = "50"
arrow-cast = { version = "50", features = ["prettyprint"] }
arrow-udf = { path = "../arrow-udf" }
arrow-udf-js = { path = "../arrow-udf-js" }
arrow-udf-python = { path = "../arrow-udf-python" }
arrow-udf-python-wasm = { path = "../arrow-udf-python-wasm" }
criterion = "0.5"

[[bench]]
name = "wasm"
harness = false
