[package]
name = "arrow-udf"
version = "0.3.0"
edition = "2021"
description = "User-defined function framework for arrow-rs."
repository = "https://github.com/risingwavelabs/arrow-udf"
keywords = ["arrow", "udf"]
categories = ["wasm"]
license = "Apache-2.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["global_registry"]
global_registry = ["linkme"]

[dependencies]
arrow-arith = ">=50"
arrow-array = ">=50"
arrow-buffer = ">=50"
arrow-data = ">=50"
arrow-ipc = ">=50"
arrow-schema = ">=50"
arrow-udf-macros = { version = "0.3.0", path = "../arrow-udf-macros" }
chrono = { version = "0.4", default-features = false }
genawaiter = "0.99"
linkme = { version = "0.3", optional = true }
once_cell = "1"
rust_decimal = "1"
serde_json = "1"
thiserror = "1"

[dev-dependencies]
arrow-cast = { version = ">=50", features = ["prettyprint"] }
expect-test = "1"
